{% extends 'AdminBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Switchery -->
    <link href="/assets/admin/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
{% endblock %}

{% form_theme form _self 'AdminBundle::form.html.twig' %}

{% block _client_token_widget %}
    <div class="col-md-9 col-sm-9 col-xs-9" style="padding-left: 0px;">
        {{ form_widget(form) }}
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <div class="btn btn-primary btn-xs js-generate-token-req">{{ 'Generate'|trans }}</div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ 'Create REST Client'|trans }}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <br>
                        <div class="form-group">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-10">
                                <button type="submit" class="btn btn-success">
                                    <i class="fa fa-save"></i>
                                    {{ 'Save'|trans }}
                                </button>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Switchery -->
    <script src="/assets/admin/vendors/switchery/dist/switchery.min.js"></script>
    <script>
        $('.js-generate-token-req').on('click', function () {
            $.ajax({
                'dataType': 'json',
                'method' : 'POST',
                'url' : '{{ path('rest_admin_client_generate_token') }}',
                'success' : function (response) {
                    $('.js-token-input').val(response);
                }
            });
        });
    </script>
{% endblock %}
